body{
    background-color: aqua;
    font-family: sans-serif;
    margin: 0;
}

header h1{
    position: relative;
    top: 110px;
    text-align: center;
    color: rgb(29, 43, 104);
}

.container{
    position: relative;
    top: 100px;
    bottom: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}


.container img{
    display: flex;
    width: 40px;
    height: auto;
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
    align-items: start;
    flex-direction: row;
    
}


.container ul{
    height: 100px;
    background-color: aliceblue;
    list-style-type:none;
    align-items:center;
    padding: 0;
    margin: auto;
    flex-direction: column;
    width: 60%;
    height: 400px;
    flex-wrap: wrap;
}


.container li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border: 0.1px solid rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    cursor: pointer;
}

.container li:hover{
    background-color: #013a77;
    color: #ffffff;
    transform: scale(1.02);
    overflow:hidden
}


.div{
    margin:7px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}


.div h4{
    margin: 0px;
    justify-content: center;    
}

.div p{
    margin: 0px;
    justify-content: center;
}
